/*Here is the extrenal style sheet*/

ul li label{
  font-style: italic;
}


div.table {
  background-color: #888;
  width: 100%;
  border-radius: 5px;
}

caption {
  font-weight: bold;
  font-size: 25px
}

table{
  border-width: inherit;
}

table tr:nth-child(2n+2) {
  background-color: #333;
}

table tr:nth-last-child(2n+1) {
  background-color: #555
}

table tr.tracklist {
  background-color: #000;
  color: white;
}
a{
  text-decoration: none;
}
#band:link{
  font-style: underline;
  font-size: 30px;
  color: black;
}

#band:visited{
  color: inherit;

}

#band:hover {
  font-size: 30px;
  background-color: black;
  color: white;
  padding: 15px 1px;
  border-radius: 5px;
  width: 150px;

}
/*Created by: Nathan Ward*/
