/*Here is the extrenal style sheet*/


/*Calls for font types - should work on all browser types.*/
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Bold.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-BoldItalic.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Italic.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Regular.woff") /*This file type should work with every browser type*/
}







* {
margin: 0;
}

html, body {
	height: 100%;
}

body{
	
}

hr{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px black inset;
	margin: 0;
}

div.headContainer{
	background-image: url(woodTextureBackground.png);
	background-size: cover;
	margin: 0;
	padding-top: 10px;
}

div#name{
	background-color: #ffffff;
	border: 3px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin: 20px auto;
	width: 50%;

}

div#name p{
	font-family: lobster;
	position: relative;
	margin: 3% auto;
	font-size: 28px;
	font-weight: bold;
	color: black;
	text-align: center;
}

nav{
	margin-left: 0 auto;
}

nav ul{
	display: inline;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	text-align:left;
	padding: 5px 15px 10px 15px;
}

a{
	padding: 5px 15px 5px 15px;
	text-decoration: none;
}
a:link{
	font-family: monospace;
	font-size: 22px;
	font-weight: normal;
	color: black;
 	
}

a:visited{
  color: grey;

}

nav ul li a:hover {
	text-align:left;
	background-color: rgba(777, 777, 777, 0.3);
	font-weight: bold;
	color: black;
	padding: 5px 15px 5px 15px;
}

.container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	background-image: url(greyLight.jpg);
	background-size: cover;
}

.center{
	text-align: center;
}

.midContainer{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	display: inline-block;
}

.descripContainer{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	display: inline-block;
}

p{
	font-family: opensans;
	width: 400px;
	position: relative;
	margin: 0 auto;
	font-weight: normal;
	color: black;
	text-align: center;
	clear: both;

}

.description{
	position: relative;
	margin: 0 auto;
	font-weight: normal;
	color: black;
	text-align: center;
	clear: both;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 3px black solid;

}

.menu{
	position: relative;
	margin: 0 auto;
	font-weight: bold;
	color: black;
	text-align: center;
	clear: both;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 3px black solid;

}

#bevTitle{
	font-family: lobster;
	font-weight: bold;
}

.bevContainer{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: inline-block;

}

.bevTable{
	padding: 10px;
	position: relative;
	margin: 0 auto;
	font-weight: bold;
	color: black;
	text-align: center;
	clear: both;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 3px black solid;

}

th{
	font-family: lobster;
	font-weight: bold;
	color: black;	
}

td{
	font-family: opensans;
	font-weight: bold;
	color: black;
}

.topFORMcontainer{
	text-align: center;

}

.formContainer{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	display: inline-block;

}

.formClass{
	font-family: opensans;
	position: relative;
	margin: 0 auto;
	font-weight: bold;
	color: black;
	text-align: center;
	clear: both;
	background-color: #ffffff;
	opacity: 0.6;
	filter: alpha(opacity=60);
	border: 3px black solid;

}

.footContainer, .push {
	height: 5em;
}

.footContainer{
	background-image: url(woodTextureBackground.png);
	background-size: cover;
	text-align: center;
}

footer{
	font-family: opensans;
	background-color: #ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
	margin: 0px 0px 0px 0px auto;
	width: 50%;
	text-align: center;
	display: inline-block;

}

footer .addresstable{
	position: relative;
	margin: 0 auto;
	font-weight: bold;
	color: black;
	text-align: center;
	clear: both;
}