body{
	margin: 0;
}

header{
	margin: 0;
	

}

header h1{
	text-align: center;
	
	margin: 0;
}
hr{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	margin: 0;
}
nav{
	margin: 0;
}

nav ul{
	display: inline;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	text-align:left;
	padding: 5px 15px 10px 15px;
}

a{
	padding: 5px 15px 5px 15px;
	text-decoration: none;
}
a:link{
	color: black
 	
}

a:visited{
  color: black;

}

nav ul li a:hover {
	text-align:left;
	background-color: rgba(777, 777, 777, 0.3);
	color: black;
	padding: 5px 15px 5px 15px;
}

 p{
	width: 400px;

}

footer{
	text-align: center;
}

footer .addresstable{
	margin: 0 auto;
}

#address{
	text-align: center;
}

#phone{
	text-align: center;
}
