
/*Here is the extrenal style sheet*/


/*Calls for font types - should work on all browser types.*/
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: vollkorn;
 src: url("vollkorn-regular-webfont.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: vollkorn;
 src: url("vollkorn-bold-webfont.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: vollkorn;
 src: url("vollkorn-italic-webfont.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: vollkorn;
 src: url("vollkorn-bolditalic-webfont.woff") /*This file type should work with every browser type*/
}

div.topContainer{
  text-align: center;
  font-family: vollkorn, opensans;
}

div.albumimg{
  height: 500px;
  width: 500px;
  border-radius: 5px;
}

div.albumInfo{
  font-size: 18px;
  font-weight: bold;
}
div p#albumTitle{
  font-size: 24px;
  font-weight: bold;
}

#band:link{
  font-style: normal;
  font-size: 22px;
  color: black;
  text-decoration: none;
}

#band:visited{
  text-decoration: none;
  color: inherit;
}

#band:hover {
  text-decoration: underline;
  font-size: 22px;
  background-color: black;
  color: white;
  padding: 15px 1px;
  border-radius: 5px;
  width: 150px;
}

a{
  text-decoration: none;
}

hr{
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
  display: block;
  width: 100%;
  border-width: 0px;
}
.middleContainer{
  font-family: opensans;
  font-size: 18px;
  font-style: normal;
}

div .middleContainer p#creators{
  font-size: 22px;
  font-weight: bold;
}

.memberListing{
  list-style-type: square;
}

.members-Jobs{
  font-size: 18px;
}

.members{
  font-style: italic;
}

div.table {
  font-family: opensans; 
  background-color: #888;
  border-radius: 5px;
  font-style: italic;

}

caption {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

table{
  width: 100%;
  border:1px;
}

tr.tracklist td{
  font-style: normal;
  text-align: center;
}

td#track{
  width: 11%;
}

td#title{
  width: 29%;
}

td#length{
  width: 60%;
}

td{
  text-align: center;
}

table tr:nth-child(2n+2) {
  background-color: #333;
}

table tr:nth-last-child(2n+1) {
  background-color: #555
}

table tr.tracklist {
  background-color: #000;
  color: white;
}
/*Created by: Nathan Ward*/
