div.container{

}


.nameContainer{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
h1{
	text-align: center;
}
.game{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

td .inputAmount{
	text-align: right;
}

input{
        border: 2px solid ;
        border-radius: 7px;
        text-align: left;
}

input:focus{
        outline: none;
        border-color:#9ecaed;
        box-shadow: 0px 0px 16px black;
        -webkit-box-shadow: 0px 0px 16px black;
        -webkit-transition: box-shadow ease 1s;
        transition: box-shadow ease 1s;
      }

button{
	width: 120px;
	height: 50px;
	margin-top: 20px;
}

.stats{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-color: lightgrey;
	padding: 10px 20px;
}

div.stats{
	
}

caption{
	font-size: 28px;
	font-weight: bold;
	text-decoration: underline;
}

.statsTable,
.statsTable > thead > tr > td,
.statsTable > tbody > tr > td{
	border: 2px solid;
	width: 100%
}
