/*Here is the extrenal style sheet*/


/*Calls for font types - should work on all browser types.*/
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.eot") /* EOT file for IE */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Bold.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-Italic.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
 font-family: opensans;
 src: url("OpenSans-BoldItalic.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Bold.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-BoldItalic.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Italic.woff") /*This file type should work with every browser type*/
}
@font-face {
 font-family: lobster;
 src: url("LobsterTwo-Regular.woff") /*This file type should work with every browser type*/
}







* {
margin: 0;
}

html, body {
	height: 100%;
}

body{
	padding: 0;
	margin: 0;	
}



header{
	background-image: url(woodTextureBackground.png);
	background-size: cover;
}

.well{
	background: none;
	background-color: rgba(999, 999, 999, 0.2);
	text-decoration: none;
	border-color: black;
}

nav, .navbar{
	border-radius: 0;
	margin: 0;
	margin-bottom: 0;
}

.glyphicon-home{
	font-size: 20px;
}

div#main{
	background-image: url(greyLight.jpg);
	background-size: cover;
	width: 100%;
	padding: 0;
	margin: 0;
}

table{
	color: black;
}

p{
	color: black;
}

div#main div.container div.row div.well table tbody tr td{
	font-family: opensans;
	color: black;
}

div.name {
	font-family: lobster;
	font-size: 28px;
	font-weight: bold;
	color: black;
}

.menu-titles{
	font-family: lobster;
	font-weight: bold;
	font-size: 22px;
	color: black;

}


.formContainer{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
	display: inline-block;

}

.formClass{
	font-family: opensans;
	position: relative;
	margin: 0 auto;
	font-weight: bold;
	color: black;
	text-align: center;
	clear: both;
}

footer{
	background-image: url(woodTextureBackground.png);
	background-size: cover;
}

#foot-table-well{
	margin-top: 20px;

}

.table>tbody>tr>th, .table>tbody>tr>td {
    border-top: none;
}


